# ignore all files inside ./notebooks/OakCreek_from_sundar
notebooks/OakCreek_from_sundar/**
!notebooks/OakCreek_from_sundar/get_pthead_from_coarseats.ipynb

# ignore all files inside ./notebooks/MODIS_raw
notebooks/MODIS_raw/**

# ignore all files inside ./notebooks/images
notebooks/images/**

# ignore all files inside ./notebooks/ELM_from_huilin
notebooks/ELM_from_huilin/**
!notebooks/ELM_from_huilin/*.ipynb
!notebooks/ELM_from_huilin/readme_about_elm.txt
!notebooks/ELM_from_huilin/raw_data_on_NERSC.txt
!notebooks/ELM_from_huilin/WBD_xyz/
!notebooks/ELM_from_huilin/WBD_xyz/**

# ignore all files inside ./notebooks/data
notebooks/data/**

# ignore all files inside ./data-processed
data-processed/**

# a trick to keep directories
!.gitkeep

# ignore .ipynb_checkpoints folders
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Python bytecode
__pycache__/
*.py[cod]
